#content{
    display: inline-block;
    text-align: left;
    max-width: 700px;
}
body{
    text-align: center;
    font-family: sans-serif;
}
hr{
    height:1px;
    background-color:#e1e4e8;
    border:0;
}
h1{
    margin-bottom: 0;
}
li{
    line-height: 25px;
}
input{
    width: 400px;
    height: 20px;
    outline: 0;
}
button{
    background-color: white;
    border: 1px solid black;
    height: 25px;
}
button:hover{
    background-color: lightgray;
}
#error{
    color: red;
    font-style: italic;
}